<hr>
<div class="auction-details">
    <p>Auction ID: <strong>{{auction.id}}</strong></p>
    <p>Auction start price: <strong>{{auction.startPrice}} EUR</strong></p>
    <p>Auction time remaining:</p>
    <p><strong>{{timeUntilAuctionEnd}}</strong></p>
</div>
<div class="auction-details">
    <p>Auction started at: <strong>{{startDateTime}}</strong></p>
    <p>Auction ending at: <strong>{{endDateTime}}</strong></p>
</div>
<hr>
<div *ngIf="topBidder" style="text-align: center;">
    <p>Current top bidder amount: <strong>{{topBidder.price}}EUR</strong>  </p>
    <p></p>
</div>