<form [formGroup]="auctionCreatorForm" class="form-group">
    <div>
        <label for="room">Room: </label>
        <input id="room" type="text" formControlName="availableRoomsList">
    </div>
    <div>
        <label for="auction-start-date">Auction start date: </label>
        <input id="auction-start-date" type="text" formControlName="auctionStartDate">
    </div>
    <div>
        <label for="auction-end-date">Auction end date: </label>
        <input id="auction-end-date" type="text" formControlName="auctionEndDate">
    </div>
    <div>
        <label for="start-price">Auction minimum price: </label>
        <input id="start-price" type="text" formControlName="start-price">
    </div>
</form>
<button (click)="submitAuctionCreatorForm()">Submit</button>