<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div>
    <!-- hoomePage/landingPage ???? -->

    <!-- we get there from all the auctions view component, we get certain auction -->
    <div #pendingAuctionManagerComponent>
        
    </div>
    <div #closedAuctionsViewComponent>

    </div>

    <!-- like charge the winner, send him notification about winning price, confirm closing auction and set room as occupied on set term -->
    <div #closedAuctionFinalizerComponent>

    </div>
    <!-- after auction has been finalized it is going to be archived -->
    <div #archivedAuctionDetailsComponent>

    </div>

    <div #additionalHotelService>

    </div>

    <div #additionalHotelService>
        <!-- adding them during pending auction -->
    </div>

    <div #addingNewHotelRooms>
        <!-- creating available rooms objects with photos -->
    </div>

    <!-- po wygraniu aukcji wysyłamy link do fejkowego opłacenia, jak nie opłaci w ciągu dnia to turnus wraca do puli dostępnych - ewentualnie hotel kontaktuje się z drugą osobą -->
</div>
<app-footer></app-footer>