<div class="auction-container">
    <div class="auction-informations">
        <p>{{auctionItem.stayDto.roomDto.name}}</p>
        <p>Accomodation dates</p>
        <p>From date:</p>
        <p>{{auctionItem.stayDto.reservationStartDate}}</p>
        <p>-</p>
        <p>To date:</p>
        <p>{{auctionItem.stayDto.reservationEndDate}}</p>
    </div>
    <app-pending-auction-item-details *ngIf="showAuctionDetailsComponent" [auction]="auctionItem"></app-pending-auction-item-details>
    <div class="buttons">
        <button *ngIf="!showAuctionDetailsComponent" (click)="showAuctionDetailsComponent = !showAuctionDetailsComponent" >Show auction details</button>
        <button *ngIf="showAuctionDetailsComponent" (click)="showAuctionDetailsComponent = !showAuctionDetailsComponent" >Hide details</button>
        <button (click)="openDialog()">Show all bids</button>
    </div>
</div>

