<div class="dashboard-container">
    <!-- <div class="welcome-container">
        <h1>Welcome!</h1>
        <p>
            We would like to welcome you at hunger-games hotel manager panel.
            You are able to create new auctions for hotel's available rooms, 
            browse currently pending auctions and finalize it to send information to the winner"
        </p>
    </div>
    <div class="dashboard-buttons">
        <div class="dashboard-element border shadow" [routerLink]="['/creator']">
            <p class="center">Create auction</p>
        </div>
        <div class="dashboard-element border shadow" [routerLink]="['/auctions/pending']">
            <p class="center">Show pending auctions</p>
        </div>
    </div> -->
    <div>
        img
        <img src="./hotel-svgrepo-com.svg" alt="photo">
    </div>
    <div>
        <div>
            Earn money with Hotel-Hunger-Games
        </div>
        <div>
            Create first auction
        </div>
        <div>
            Read more
        </div>
    </div>
</div>