<div class="dashboard-container">
    <h1>What would you like to do?</h1>
    <div class="dashboard-buttons">
        <div class="dashboard-element border shadow center" [routerLink]="['/auctions/pending']">
            <p class="center">SHOW PENDING AUCTIONS</p>
        </div>
    </div>
    <div class="auctions-ending-soon-container">
        <div class="card-title">
            Auctions ending soon:
        </div>
        <div>
            Room: 331 ending at 22.06.2023 6:00 (5 days remaining)
        </div>
    </div>
    <div class="auctions-current-top-bidd-all-auctions-amount">

    </div>
    <div>
        recently created auctions widget
    </div>
    <div class="timeline-latest-changes">
        <p>Info about new bid from someone and info on which auction</p>
        <p>Info about creating new auction</p>
        <p>Info that some auction has ended</p>
    </div>
    <div>
        <p>Create new auction button</p>
        <p>Browse all current auctions button</p>
        <p>Browse finished auctions waiting for confirmations</p>
        <p>Browse archived(finalized) auctions</p>
    </div>
    <!-- move to statistics page -->
    <div class="general-stats">
        Current amount of auctions in progress:
            (add info about change in % comparing last week)
        Auctions finalized during last month:
            (add info of change in % vs last month)
        Money earned via auctions last month:
            (add info of change in % vs last month)
        Amount of rooms sold for next month 31/65

        Top earning rooms total: (list of 5)

        Top earning rooms total / amount of auctions: (list of 5)
        
        Top bidder -> amount of money spent and amount of liciations that he took part(expand it way more)
    </div>
    <div class="diagrams">
        Diagram of auctions amount finished in last months
        Diagram of value of rooms sold in last months
        Top earning rooms total: (list of 5)
        https://www.uplabs.com/posts/web-dashboard-statistics-ui-kit-app
    </div>
    <!-- move app to more like trips auctions with flights and additional services or more like hotel manager app? i bet the first one -->
</div>

<!-- add to readme <- point of this app is to sell especially most luxurious room -->


<!-- landing page idea https://www.easy.auction/index.php -->