h1 {
    padding-top: 15px;
    font-size: 3em;
    text-align: center;
}

.dashboard-buttons {
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
    justify-content: space-evenly;
}

.dashboard-element {
    width: 500px;
    height: 75px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1.8em;
}

.center   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
} 

.widget {
    // background-color: rgb(228, 227, 227);
    // background-color: rgb(231, 231, 231);
    width: 600px;
    height: 300px;
    margin: 50px;
}

.card-title {
    // text-align: center;
    height: 45px;
    // background-color: rgba(58, 58, 58, 0.911);
    // background-color: rgba(172, 64, 64, 0.925);
    background-color: rgb(143, 50, 50);
    color: white;
        // border: solid;
        // border-width: 0.1px;
        // border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    // flex-direction: row;
    align-items: center;
}

svg {
    fill: white;
}

.content {
    margin: 0px 15px 0px 15px;
}

h3 {
    margin-left: 15px;
}