<div class="dashboard-container">
    <h1>What would you like to do?</h1>
    <div class="dashboard-buttons">
        <div class="dashboard-element border shadow center" [routerLink]="['/auctions/finished']">
            <p class="center">SHOW FINISHED AUCTIONS</p>
        </div>
        <div class="dashboard-element border shadow center" [routerLink]="['/auctions/pending']">
            <p class="center">SHOW PENDING AUCTIONS</p>
        </div>
        <div class="dashboard-element border shadow center" [routerLink]="['/creator']">
            <img src="./baggage-svgrepo-com.svg">
            <p class="center">CREATE AUCTION</p>
        </div>
        <div class="dashboard-element border shadow center" [routerLink]="['/room/create']">
            <p class="center">ADD NEW ROOM</p>
        </div>
        <div class="dashboard-element border shadow center" [routerLink]="['/room/all']">
            <p class="center">SHOW ALL ROOMS</p>
        </div>
        <div class="dashboard-element border shadow center" [routerLink]="['/calendar']">
            <p class="center">SHOW CALENDAR</p>
        </div>
    </div>  
</div>