.shadow {
    box-shadow: 1px 1px 5px 2px rgba(139, 139, 139, 0.699);
    margin: 10px 10px 0px 15px;
}

.hotel-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 15px;
}

.hotel-info-container > span {
    font-size: 1.6rem;
}

.room-wide {
    height: 230px;
    width: 100vw;
    margin-bottom: 40px;
    border: solid 1px rgb(145, 144, 144);
}

.main-container {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.hotel-shortcut-container {
    width: 600px;
}

.overwiev-timeline-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.card-title {
    background: #7a2828;
    height: 55px;
    color: rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.right {
    background: linear-gradient(to left, #a73737, #7a2828);
}

.left {
    // background: linear-gradient(to right, #a73737, #7a2828);
    background-color: #6e5e55;
}

.over-img {
    width: 400px;
    position: absolute;
    top: 280px;
    z-index: 1000;
    color: rgb(226, 226, 226);
}

.hotel-info-container > img {
    // margin-left: 20px;
    height: 90px;
    border-radius: 10%;
    box-shadow: 1px 1px 5px 1px rgba(63, 63, 63, 0.699);
}

.black-shadow {
    border: 1px outset #5c5c5c; 
}

svg {
    margin-left: 30px;
}

.content {
    margin: 0px 15px 0px 15px;
}

.title {
    font-size: 1.3rem;
}

#svg2793 {
    filter: brightness(0) invert(1);
}