.dashboard-buttons {
    display: grid;
    grid-column: 2;
}

.dashboard-element {
    width: 500px;
    height: 70px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    // display: flex;
    // justify-content: center;
    
}

.center   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

