<div class="dashboard-container">
    <h1>What would you like to do?</h1>
    <div class="dashboard-buttons">
        <div class="dashboard-element border shadow center" [routerLink]="['/auctions/pending']">
            <p class="center">SHOW PENDING AUCTIONS</p>
        </div>
        <div class="dashboard-element border shadow center" [routerLink]="['/creator']">
            <p class="center">CREATE AUCTION</p>
        </div>
        <div class="dashboard-element border shadow center" [routerLink]="['/room/create']">
            <p class="center">CREATE ROOM</p>
        </div>
    </div>  
</div>